
body{
  margin:0px;
  font-family: "Lato" , sans-serif;
    
background-image: url("img/img1.jpg");
    
}

.body-container{
  display:grid;
  grid-templates-columns:1fr;
 
}





.primeData{
    justify-content: center;
    border-radius: 3px;
    text-align: center;
    width: 50%;
    height: :100%;
    margin: 10px;
    top:10px;
    margin-top: 300px;
    margin-left: 100px;
}